@using Tourtlee.BookingSystem.Web.Helpers;
@model Tourtlee.BookingSystem.Business.Dto.Accounts.CreateUserDto

@{
    Layout = "_AdminLayout";
    var user = Html.Angular().ModelFor("vm.createUser");
}

<script>
    System.import('admin/users/users.module.js');

    var usersConfig = {
        createUser: @Html.JsonFor(Model),
        apiUrl: '@Url.Action("Index", "UsersApi", new { Area = "Admin" })'
    };

    var organizationsConfig = {
        apiUrl: '@Url.Action("Index", "OrganizationsApi", new { Area = "Admin" })'
    };
</script>

<form class="form-horizontal" data-ng-controller="UsersCreateController as vm" name="createUserForm"
      data-ng-submit="vm.submit()" novalidate>

    <fieldset>

        <!-- Form Name -->
        <legend data-translate>users.create</legend>

        @user.FormGroupFor(u => u.Email)

        @user.FormGroupFor(u => u.Password)

        @user.FormGroupFor(u => u.PasswordRepeat)

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="chooseOrganization" data-translate>users.organization</label>
            <div class="col-md-4">
                <div>
                    <input type="radio" name="chooseOrganization" id="chooseOrganization-1"
                           ng-model="@user.PropertyFor(u => u.OrganizationMode)"
                           ng-change="vm.onOrganizationModeChange()" value="0" />

                    <label for="chooseOrganization-0" data-translate>users.organizationChoose</label>

                </div>
                <div>
                    <input type="radio" name="chooseOrganization" id="chooseOrganization-0"
                           value="1" checked="checked" ng-model="@user.PropertyFor(u => u.OrganizationMode)" />

                    <label for="chooseOrganization-1" data-translate>users.organizationCreateNew </label>
                </div>
            </div>
        </div>
        
        <!-- Select Basic -->
        <div class="form-group" data-ng-show="@user.PropertyFor(u => u.OrganizationMode) == 0">
            <label class="col-md-4 control-label" for="SelectOrganization" data-translate></label>
            <div class="col-md-6">
                <ui-select ng-model="@user.PropertyFor(u => u.IdOrganization)" theme="bootstrap">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="organization.idOrganization as organization in vm.organizations | filter: $select.search">
                        <div ng-bind-html="organization.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!-- Text input-->
        <div data-ng-show="@user.PropertyFor(u => u.OrganizationMode) == 1">
            @user.FormGroupFor(u => u.OrganizationName)
        </div>
        @*<div class="form-group" data-ng-show="@user.PropertyFor(u => u.OrganizationMode) == 1">
            <label class="col-md-4 control-label" for="NewOrganizationName" data-translate>users.organizationCreateName</label>
            <div class="col-md-6">
                <input id="NewOrganizationName" name="NewOrganizationName" type="text" placeholder=""
                       class="form-control input-md" ng-model="@user.p">
            </div>
        </div>*@

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input type="submit" id="create"
                       name="Create" class="btn btn-success" data-ng-click="ctrl.CreateUser()"
                       translate="yes"
                       translate-attr-value="common.create"
                       value="common.create" />
                @Html.ActionLink("common.cancel", "Index", "Users", routeValues: new { Area = "Admin" },
           htmlAttributes: new { title = "Cancel", role = "button", @class = "btn btn-default", data_translate = ""})
            </div>
        </div>
    </fieldset>
</form>
